{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    {% for leftpost in leftposts %}
                    <div class="left-side">
                        <div class="masonry-box post-media">
                             <img src="{{ leftpost.size_1.url }}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="#" title="">{{ leftpost.category }}</a></span>
                                        <h4><a href="#" title="">{{ leftpost.title }}</a></h4>
                                        <small><a href="#" title="">{{ leftpost.created }}</a></small>
                                        <small><a href="blog-author.html" title="">{{ leftpost.author }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->
                    {% endfor %}
                    
                    <div class="center-side">
                    {% for cpost in cposts %}
                        <div class="masonry-box post-media">
                             <img src="{{ cpost.size_1.url }}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-green"><a href="#" title="">{{ cpost.category }}</a></span>
                                        <h4><a href="#" title="">{{ cpost.title|truncatewords:4 }}</a></h4>
                                        <small><a href="#" title="">{{ cpost.created }}</a></small>
                                        <small><a href="blog-author.html" title="">{{ cpost.author }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                        {% endfor %}
                        {% for minipost in miniposts %}
                        <div class="masonry-box small-box post-media">
                             <img src="{{ minipost.size_1.url }}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-green"><a href="#" title="">{{ minipost.category }}</a></span>
                                        <h4><a href="#" title="">{{ minipost.title }}</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                        {% endfor %}
                    </div><!-- end left-side -->
                    

                    {% for rightpost in rightposts %}
                    <div class="right-side hidden-md-down">
                        <div class="masonry-box post-media">
                             <img src="{{ rightpost.size_1.url }}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="#" title="">{{ rightpost.category }}</a></span>
                                        <h4><a href="#" title="">{{ rightpost.title }}</a></h4>
                                        <small><a href="#" title="">{{ rightpost.created }}</a></small>
                                        <small><a href="blog-author.html" title="">{{ rightpost.author }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end right-side -->
                    {% endfor %}
                </div><!-- end masonry -->
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                        
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h3 class="color-aqua"><a href="#" title="">Entertainment</a></h3>
                        </div><!-- end title -->

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for cpost in dobuleposts %}
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{ cpost.size_1.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta big-meta">
                                        <h4><a href="#" title="">{{ cpost.title }}</a></h4>
                                        <p>{{ cpost.content|truncatewords:40 }}</p>
                                        <small><a href="#" title="">{{ cpost.category }}</a></small>
                                        <small><a href="#" title="">{{ cpost.created }}</a></small>
                                        <small><a href="blog-author.html" title="">{{ cpost.author}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                
                    {% endfor %}
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h3 class="color-pink"><a href="#" title="">Latest</a></h3>
                        </div><!-- end title -->
                        <div class="row">
                    
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    {% for leftpost in left_doublesports %}
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{ leftpost.size_1.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">{{ leftpost.title|truncatewords:10 }}</a></h4>
                                        <small><a href="#" title="">{{ leftpost.category}}</a></small>
                                        <small><a href="#" title="">{{ leftpost.created }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                
                            {% endfor %}
                            </div><!-- end col -->

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                {% for doublerightpost in double_rightposts %}
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{ doublerightpost.size_1.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">{{ doublerightpost.title|truncatewords:10 }}</a></h4>
                                        <small><a href="#" title="">{{ doublerightpost.category }}</a></small>
                                        <small><a href="#" title="">{{ doublerightpost.author }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                {% endfor %}
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_01.jpg' %}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-9">
                        <div class="blog-list clearfix">
                            <div class="section-title">
                                <h3 class="color-green"><a href="#" title="">Asia Continent</a></h3>
                            </div><!-- end title -->
                            {% for singleasia in asia %}
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{ singleasia.size_1.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="#" title="">{{ singleasia.title|truncatewords:10 }}</a></h4>
                                    <p>{{ singleasia.content|truncatewords:30 }}</p>
                                    <small><a href="#" title="">{{ singleasia.category }}</a></small>
                                    <small><a href="#" title="">{{ singleasia.created }}</a></small>
                                    <small><a href="blog-author.html" title="">{{ singleasia.author }}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                            {% endfor %}
                        </div><!-- end blog-list -->

                        <hr class="invis">

                        <div class="blog-list clearfix">
                            <div class="section-title">
                                <h3 class="color-red"><a href="#" title="">Europe Continent</a></h3>
                            </div><!-- end title -->

                            <div class="blog-box row">
                                {% for singleurope in europe%}
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="#" title="">
                                            <img src="{{ singleurope.size_1.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="#" title="">{{ singleurope.title|truncatewords:10 }}</a></h4>
                                    <p>{{ singleurope.content|truncatewords:30 }}</p>
                                    <small><a href="#" title="">{{ singleurope.category }}</a></small>
                                    <small><a href="#" title="">{{ singleurope.created }}</a></small>
                                    <small><a href="blog-author.html" title="">{{ singleurope.author }}</a></small>
                                </div><!-- end meta -->
                                {% endfor %}
                            </div><!-- end blog-box -->
                        </div><!-- end blog-list -->
                    </div><!-- end col -->

                    <div class="col-lg-3">
                        <div class="section-title">
                            <h3 class="color-yellow"><a href="#" title="">Africa Continent</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box">
                            {% for singleafrica in africa %}
                            <div class="post-media">
                                <a href="#" title="">
                                    <img src="{{ singleafrica.size_1.url }}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span class="videohover"></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="#" title="">{{ singleafrica.title|truncatewords:5 }}</a></h4>
                                <small><a href="#" title="">{{ singleafrica.category }}</a></small>
                                <small><a href="#" title="">{{ singleafrica.created }}</a></small>
                            </div><!-- end meta -->
                            {% endfor %}
                        </div><!-- end blog-box -->

                        <div class="section-title">
                            <h3 class="color-grey"><a href="#" title="">America</a></h3>
                        </div><!-- end title -->

                        <div class="blog-box">
                            {% for america in northAmerica %}
                            <div class="post-media">
                                <a href="#" title="">
                                    <img src="{{ america.size_1.url }}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="#" title="">{{ america.title|truncatewords:5 }}</a></h4>
                                <small><a href="#" title="">{{ america.category }}</a></small>
                                <small><a href="#" title="">{{ america.created }}</a></small>
                            </div><!-- end meta -->
                            {% endfor %}
                        </div><!-- end blog-box -->

                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis1">

                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_02.jpg' %}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock %}
